body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
}

.picStyle {
  max-width: 40%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
